@page "/mypage"
@inject IUserManager UserManager
@inject IDataManager Datamanager
@inject NavigationManager navigation
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="card-body bg-info">
    <a class="btn btn-group" href="/MyPage"><b>My Page</b></a>
    <a class="btn btn-group" href="/AllInterests"><b>All Interests</b></a>
    <a class="btn btn-group" href="/SignOut"><b>Sign Out</b></a>
</div>
<br />
<div>
<h1 stylr="text-align:center">Welcome to your page, @ActiveUser.Username!</h1>
</div>
<br />
<br />
<h3>Your favourite interests:</h3>

<form>
    @foreach (var interest in UserInterests)
    {
        <div class="card bg-primary p-2 text-dark bg-opacity-10">
            <div class="card-body">
                <strong>@interest.Name </strong>
                
                @if (interest.UserId == null)
                {
                    <a style="float:right">Thread created by a deleted user</a>
                }
                @if (interest.Threads != null)
                {
                    <p>@interest.Threads.Count threads </p>
                }   
                <div class="d-grid gap-2 d-md-block" style="float: right">
                <a type="button" href="Threads/@interest.Id" class="btn btn-outline-secondary">Go to threads!</a>
                <button type="button" @onclick="(() =>RemoveFromFav(interest.Id))" class="btn btn-outline-success" >Remove from fav</button>
                 </div>
                
            </div>
        </div>
        <br />
    }
</form>

<hr />

<form>
    <h3>All interests on Fora:</h3>
    <button type="button" class="btn btn-outline-primary" @onclick="ShowAllInterests">@buttonName</button>
    <br />
    <br />

    @if (displayAllInterests)
    {
        <div>
            @foreach (var interest in AllInterests)
            {
                <div class="card bg-primary p-2 text-dark bg-opacity-10">
                    <div class="card-body">
                        <strong>@interest.Name </strong>
                        @if (interest.UserId == null)
                        {
                            
                            <em style="float:right;color:red" >Thread created by a deleted user</em>
                        }
                        @foreach(var user in AllUsers)
                        {
                            if(interest.UserId == user.Id && user.Deleted)
                            {
                                <em style="float:right;color:blueviolet" >Thread created by a deactivated user</em>
                            }
                        }
                       
                        @if (interest.Threads != null)
                        {
                            <p>@interest.Threads.Count threads </p>
                        }

                        <div class="d-grid gap-2 d-md-block" style="float: right">
                            <a type="button" href="Threads/@interest.Id" class="btn btn-outline-secondary" >Go to threads!</a>
                            <button type="button" @onclick="(() =>AddToFav(interest.Id))" class="btn btn-outline-success" >Add to fav!</button>
                        </div>
                         @if (interest.UserId == ActiveUser.Id)
                        {
    
                            <button @onclick="(()=>DeleteFromInterest(interest.Id))" class="btn btn-danger" type="button">Delete interest </button>
                        }
                         
                    </div>
                </div>
                <br />
            }
            
            <br />
        </div>
    }

</form>

<br />
<hr />

<EditForm Model="InterestToAdd" OnValidSubmit="AddPersonalInterest">
    <DataAnnotationsValidator />
    <div>
        <label><strong>Create an interest you want to discuss:</strong></label>
        <InputText @bind-Value="InterestToAdd.Name" placeholder="Interest" class="form-control"></InputText>
    </div>
    <br />
    <div>
        <button class="btn btn-outline-primary" type="submit">Create interest!</button>
    </div>
    <ValidationSummary />
</EditForm>
<br />
<br />
<hr />
<hr />
<ChangePassword></ChangePassword>
<hr>
<hr />
<h3>Had enough of discussions? Remove your account here: </h3>
<form>
    <div>
        
        <button @onclick="(()=>DeleteUser(ActiveUser.Id))" class="btn btn-danger" type="button">Delete user</button>
        <button @onclick="(()=>DeActivateUser(ActiveUser))" href="" class="btn btn-danger" type="button">Deactivate user</button>
    </div>
</form>
<hr />


@code {
    private bool SignedIn;

    //Sets new userinterest
    public InterestModel InterestToAdd { get; set; } = new();
    public UserStatusDTOModel UserStatus { get; set; } = new();
    public UserModel ActiveUser { get; set; } = new();
    public List<InterestModel> AllInterests { get; set; } = new();
    public List<UserInterestModel> ActiveUserInterest { get; set; } = new();
    public List<InterestModel> UserInterests { get; set; } = new();
    public bool displayAllInterests = false;
    public List<UserModel> AllUsers { get; set; } = new();
    private string buttonName = "Show all interests";

    protected override async Task OnInitializedAsync()
    {
        //*****CHECK USER LOGIN (att användas på alla sidor)
        //Hämtar token från localstorage
        var token = await localStorage.GetItemAsync<string>("Token");
        token = token.Replace("\"", "");
        //kollar att user finns i databas med token
        var result = await UserManager.CheckUserLogin(token);
        UserStatus = result;

        //hämtar den aktiva användaren
        ActiveUser = await UserManager.GetUserByToken(token);
        //hämtar alla intressen
        AllInterests = await Datamanager.GetAllInterests();

        AllUsers = await UserManager.GetAllUsers();

        UserInterests = await Datamanager.GetUserInterests(ActiveUser.Id);


    }

    public async Task AddToFav(int interestid)
    {
        UserInterestModel modelToAdd = new();
        modelToAdd.Interest = AllInterests.FirstOrDefault(x => x.Id == interestid);
        modelToAdd.User = ActiveUser;

        await Datamanager.CreateNewUserInterest(modelToAdd);

        UserInterests = await Datamanager.GetUserInterests(ActiveUser.Id);
    }

    public async Task RemoveFromFav(int interestId)
    {
        var userId = ActiveUser.Id;
        await Datamanager.RemoveInterestFromFav(interestId, userId);
        UserInterests = await Datamanager.GetUserInterests(ActiveUser.Id);
    }

    public async Task DeleteFromInterest(int interestId)
    {
        await Datamanager.DeleteFromInterest(interestId);
        AllInterests = await Datamanager.GetAllInterests();
        UserInterests = await Datamanager.GetUserInterests(ActiveUser.Id);
    }

    public async Task DeleteUser(int activeUser)
    {
        var token = await localStorage.GetItemAsync<string>("Token");
        UserManager.DeleteUser(activeUser, token);
        navigation.NavigateTo("");
    }

    private async Task AddPersonalInterest()
    {
        InterestToAdd.Threads = new();
        //adding user id to interestmodel
        InterestToAdd.UserId = ActiveUser.Id;
        //creating intesrest in db
        var token = await localStorage.GetItemAsync<string>("Token");
        token = token.Replace("\"", "");
        await Datamanager.CreateInterest(InterestToAdd, token );
        AllInterests = await Datamanager.GetAllInterests();
        UserInterests = await Datamanager.GetUserInterests(ActiveUser.Id);
        InterestToAdd = new();

    }

    private async Task DeActivateUser(UserModel ActiveUser)
    {
        await UserManager.ChangeDeletedStateToTrue(ActiveUser);
        navigation.NavigateTo("");
    }


    //Allinterest button
    private void ShowAllInterests()
    {
        if (!displayAllInterests)
        {
            displayAllInterests = true;
            buttonName = "Hide";
        }
        else if (displayAllInterests)
        {
            displayAllInterests = false;
            buttonName = "Show all interests";
        }
    }

    
}